<h1>Here are all the aminals!</h1>

<h4>Search</h4>

<!-- <%= form_tag(pets_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by Species" %>
    <%= submit_tag "Search", :name => nil %>
<% end %> -->

<%= form_with url: pets_path, method: :get, local:true do |f|%>
  <%= f.text_field :search, placeholder: "Search by Species" %>
  <%= f.submit "Search" %>
<% end %>


<hr>
<%= link_to 'See Owners', owners_path %>
<hr>
<%= link_to 'Add a Pet', new_pet_path %>
<hr>

<h2>Pets:</h2>

<% @pets.each do |pet| %>
  <p> <%= link_to pet.name, pet_path(pet) %> </p>
<% end %>

<% if @pets.blank? %>
  <h4>There are no pets of the species  '<%= params[:search] %>'!</h4>
  <%= link_to "See All Pets", pets_path %>
<% end %>
